In [ ]:
"" Q. Explain the key features of Python that make it a popular choice for programing.
   # It is  easy to learn and understand
   # It is open and free to use by anyone
   #Python is being called as user friendly because it is more simpler and easier in comparison of other languages
   #It has  large library also

   ""

In [ ]:
#Q. Describe the Role of predefined keywords in Python and provide examples of how they are used in a program.

In [ ]:
help('keywords')

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

In [ ]:
 #Q. Discuss the different types of operators in python and provide examples of how they are used .

In [ ]:
 # COMPARISON OPERATORS   (TRUE OR FALSE)

In [ ]:
A = 5
B = 9
C = A+B
C < 30

True

In [ ]:
A = 6
B = 12
A + B >26

False

In [ ]:
 # AIRTHMETIC OPERATORS

In [ ]:
56+51   (ADDITION)

107

In [ ]:
45-26  (SUBTRACTION)

19

In [ ]:
65*2   (MULTIPLICATION)

130

In [ ]:
36/2   (DIVISION)

18.0

In [ ]:
25%6  (REMAINDER)(MODULO)

1

In [ ]:
45//3  (FLOOR DIVISION)

15

In [ ]:
5**3  (POWER)

125

In [ ]:
# Q. How do conditional statements work in Python? Illustrate with examples.

In [ ]:
A = 36
B = 45
if A < 50 and B > 30:
    print("both are right")

both are right

In [ ]:
A = 12
B = 14
if A > 10 or B < 20:
  print("both are rejected")

both are rejected

In [ ]:
# (CONDITIONAL)

In [ ]:
X = 35
if X < 40:
  print("win the match")

win the match

In [ ]:
Y = 96
if Y > 100:
  print("won the match")

else:
    print("lost the match")

lost the match

In [ ]:
Game = "badminton"
if Game == "hockey":
  print("Game is hockey")
elif Game == "cricket":
  print("Game is cricket")
elif Game == "football":
  print("Game is football")
elif Game == "soccer":
  print("Game is soccer")
else:
  print("Game is not hockey,football,cricket,soccer")

Game is not hockey,football,cricket,soccer

In [ ]:
# Q. Compare and contrast mutable and immutable objects in Python with examples.

In [ ]:
""
# MUTABLE OBJECTS
  #-It means the object that can be change
  #.list
  #.dic


""

''

In [ ]:
# EXAMPLES

In [ ]:
sports = ['cricket','football','volleyball']
sports

['cricket', 'football', 'volleyball']

In [ ]:
print(hex(id(sports)))

0x7d3fa61e7240

In [ ]:
sports

['cricket', 'football', 'volleyball']

In [ ]:
sports.append('badminton')

In [ ]:
sports

['cricket', 'football', 'volleyball', 'badminton']

In [ ]:
"""

 #IMMUTABLE OBJECTS
 -It cannot be changed or modified
  .tuples
  .string
  .booleans
  .Integer
  .float

  """

'\n\n #IMMUTABLE OBJECTS\n -It cannot be changed or modified\n  .tuples\n  .string\n  .booleans\n  .Integer\n  .float \n\n  '

In [ ]:
# EXAMPLES

In [ ]:
X = 5649

In [ ]:
print(hex(id(X)))

0x7d3fa6239130

In [ ]:
X = 2596

In [ ]:
print(hex(id(X)))

0x7d3fa6239410

In [ ]:
my_tuple = '(1,2,3,4)'

In [ ]:
print(hex(id(my_tuple)))

0x7d3fa60ce830

In [ ]:
my_tuple = '(7,8,9)'

In [ ]:
print(hex(id(my_tuple)))

0x7d3fa61b56b0

In [ ]:
# Q.  Explain the concept of type casting in python with examples.

In [ ]:
#(convert int into float)

In [ ]:
P = 45
P= float(45)

In [ ]:
type(P)

float

In [ ]:
# (Convert float into integer)

In [ ]:
H = 4.3
H= int(4.3)

In [ ]:
type(H)

int

In [ ]:
# (convert integer into string)

In [ ]:
O = 56
O = str(56)

In [ ]:
type(O)

str

In [ ]:
# (Convert float into string)

In [ ]:
D = 78
D = str(78)

In [ ]:
type(D)

str

In [ ]:
#(Convert string into integer)

In [ ]:
K = 12
K int(12)    {string will never convert into integer}

SyntaxError: invalid syntax (<ipython-input-97-758ed97af866>, line 2)

In [ ]:
# Q. Describe the different types of loops in Python and their use cases with examples.

In [ ]:
"""
for loop

"""

'\nfor loop\n\n'

In [ ]:
Vehicles = ["car", "bike", "scooter","plane"]
for vehicle in Vehicles:
  print(vehicle)

car
bike
scooter
plane

In [ ]:
Countries =["India", "America","Australia","France"]
for country in Countries:
  print(country)

India
America
Australia
France

In [ ]:
"""
while loop

"""

'\nwhile loop\n\n'

In [ ]:
T = 30
while T <=40:
  print(T)
  T = T+1

30
31
32
33
34
35
36
37
38
39
40

In [ ]:
M = 12
while M <= 20:
  print(M)
  M = M+1

12
13
14
15
16
17
18
19
20